body {
  font-family: "Fraunces", serif;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/071/418/980/small/coffee-with-heart-art-on-pink-wooden-table-photo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 0;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  margin: 0 40px;
  font-weight: 600;
}

.nav a:hover {
  text-decoration: underline;
}

.title {
  background-color: rgba(255, 182, 193, 0.8); 
  border: 2px solid black;
  border-radius: 30px;
  width: 400px;
  margin: 120px auto 40px auto;
  padding: 25px;
}

.title h1 {
  margin: 0;
}

.menubutton {
  background-color: rgba(255, 182, 193, 0.8);
  border: 2px solid black;
  border-radius: 30px;
  width: 400px;
  margin: 0 auto;
  padding: 25px;
  transition: 0.2s;
}

.menubutton a {
  color: black;
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  display: block;
}

.menubutton:hover {
  background-color: rgba(255, 182, 193, 1);
  transform: scale(1.03);
}

