.about {
  background-color: pink;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10%;
  padding: 5%;
}

.contact {
  background-color: pink;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10%;
  padding: 5%;
}

.about-title,
.contact-title {
  text-decoration: underline;
  font-size: 28px;
}


.body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjUzLXJlbWl4LWNvZi0wMDdhLWMuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.nav {
  background-color: white;
  border: 2px solid black;
  padding: 20px 0;
  text-align: center;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 26px;
  margin: 40px;
}

.nav a: hover {
  text-decoration: underline;
}

.body {
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjUzLXJlbWl4LWNvZi0wMDdhLWMuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;   
  background-attachment: fixed;  
  margin: 0;
  padding: 0;
}
