body {
  font-family: "Fraunces", serif;
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjUzLXJlbWl4LWNvZi0wMDdhLWMuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #2b1d1d;
  text-align: center;
}


.nav {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 0;
  position: sticky;
  top: 0;
  border-bottom: 2px solid black;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  margin: 0 40px;
  font-weight: 600;
}

.nav a:hover {
  text-decoration: underline;
}



h3 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-decoration: underline;
}


p {
  font-size: 20px;
  line-height: 1.6;
  margin: 10px auto 20px auto;
  width: 70%;
  background-color: pink;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid black;
}


ul {
  list-style: none;
  padding: 0;
  margin: 10px auto 20px auto;
  width: 60%;
  background-color: pink;
  border-radius: 30px;
  border: 2px solid black;
  padding: 15px;
}

li {
  font-size: 20px;
  margin: 8px 0;
}


strong {
  font-weight: 700;
}

.cute-icon img {
  width: 120px;
  display: block;
  margin: 30px auto;
  animation: float 3s ease-in-out infinite;
}



