.week { 
  background-color: pink;
   border:2px solid;
  border-radius: 50px;
  border-size: 12px; 
  margin:10%;
  padding:5%;
  
}
.Coffee {
    background-color: pink;
   border: 2px solid;
  border-radius: 50px;
  border-size: 12px; 
  margin:10%;
  padding:5%
}
.Specialty{
   background-color: pink;
   border: 2px solid ;
  border-radius: 50px;
  border-size: 12px; 
  margin:10%;
  padding:5%
}
.Bake{  background-color: pink;
 border: 2px solid;
  border-radius: 50px;
  border-size: 12px; 
  margin:10%;
  padding:5%}
.Menu{
  background-color:pink;
  border: 3px solid;
  border-radius:50px;
  margin: auto;
  padding-left:40%
}
