.body {
  font-family: "Fraunces", serif;
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjUzLXJlbWl4LWNvZi0wMDdhLWMuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #2b1d1d;
  text-align: center;
}

.nav {
  width: 100%;
  background-color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid black;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 26px;
  margin: 0 40px;
  padding: 10px 20px;
  background-color: pink;
  border: 2px solid black;
  border-radius: 30px;
  transition: 0.2s;
}

.nav a:hover {
  background-color: #ffb6c1;
  transform: scale(1.05);
}

.h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Menu {
  background-color: pink;
  border: 3px solid black;
  border-radius: 50px;
  margin: auto;
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.week, .Coffee, .Specialty, .Bake {
  background-color: pink;
  border: 2px solid black;
  border-radius: 50px;
  margin: 10%;
  padding: 5%;
  position: relative;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.li {
  font-size: 20px;
  margin: 8px 0;
}

.strong {
  font-weight: 700;
}

.cute-icon img, .icon img {
  width: 80px;
  display: block;
  margin: 15px auto;
}



